.wq-div{
	background-color:#f6f6f6;
	height:400px;
}
.wq-container {
    width: 80%;
    background-color: aqua;
    margin: 0 auto;
}
.wq-form{
	background-color:#ffffff;
	width:80%;
	margin:0 auto;
}
.wq-form-control{
	width:80%;
}
.wq-col-lg3{
	padding-right: 0px;
	padding-left: 0px;
}
.hidden2{
    display: none;
    background-color:#f6f6f6;
    
}

.wq-picture{
	height:400px;
}
.span{
	padding-top:25px;
}
.wq-picture-label{
	background-color:#f6f6f6;
	padding-left:45%;
}