<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wq.mapper.AdminLoginMapper" >
  	<!-- 管理员登录sql -->
  	<select id="adminLogin" parameterType="String" resultType="cn.wq.po.Administrator">
  		SELECT * FROM administrator WHERE AdminAcount=#{acount}
  	</select>
  	<!-- 查询所有学校店铺 -->
  	<select id="adminList" resultType="cn.wq.po.Administrator">
  		select * from administrator where Permission="低"
  	</select>
  	<!-- 添加学校店铺 -->
  	<insert id="addAdmin" parameterType="cn.wq.po.Administrator">
  		insert into administrator (AdminAcount, AdminPassword, 
      University, Province)  values (#{adminAcount,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, 
      #{university,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR} 
      )
  	</insert>
  	<!-- 删除学校店铺 -->
  	<delete id="deleteAdmin" parameterType="int">
  		delete from administrator where AdminId=#{id,jdbcType=INTEGER}
  	</delete>
  	<!-- 修改店铺管理员权限 -->
  	<update id="updatePerminssion" parameterType="cn.wq.po.Administrator">
  		UPDATE administrator SET Permission='高' WHERE AdminId=#{adminId,jdbcType=INTEGER}
  	</update>
</mapper>